/*styles the website for when the screen is set for mobile dimensions*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt; /*decrease in overall font size*/
} 

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30pt;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
}

body {
  background: rgb(243, 240, 240);
}

header {
  position: fixed;
  background: rgb(240, 70, 40);
  color: white;
  width: 100%;
  padding: 5px 10px;
  top: 0px;
  left: 0px;
  display: flex;
  box-shadow: 0px 0px 5px black;
  z-index: 3;
}

footer {
  position: fixed;
  background: #393941;
  color: white;
  width: 100%;
  padding: 3px 5px;
  bottom: 0px;
  left: 0px;
  display: flex;
  box-shadow: 0px 0px 1px black;
  z-index: 3;
}

#logo {
  height: 40px; /*logo size halved*/
  margin: auto 0px;
}

#mobpage { /*div put in use to structured the page icons*/
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.pages { /*size and margins decreased to fit into the header better*/
  height: 40px;
  width: 40px;
  margin: 5px 5px;
  border-radius: 50%;
  background: rgb(245, 130, 55);
  transition: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.pages:hover {
  background-color: rgb(227, 195, 164);
  cursor: pointer;
}

.current { /*current page icon completely removed from mobile version as it takes up too much space*/
  height: 0px;
  width: 70px;
  border-radius: 50%;
  background: rgb(247, 233, 219);
  position: absolute;
  right: 40px;
  top: 10px;
}

.social {
  height: 25px;
  width: 25px;
  margin: 1px 5px;
  border-radius: 100%;
  background: white;
}

footer > p { /*address formatting changed to simply being along the flexed display div as opposed to sticking to the right side of the screen, as to fit in better with the dimensions*/
  display: block;
  margin-left: auto;
  margin-right: 8px;
  font-size: 8pt;
}

#home1 {
  width: 100%;
  margin: 60px 0px 10px 0px; /*top margin of banner image on home page slightly decreased to go along with decrease in size of header in mobile variant*/
}

#welcome {
  margin: 0px 5%; /*side margins decreased to allow text to take up more space*/
  text-align: center;
}

#welcomeinfo {
  margin: 5px 5%;
  text-align: justify;
}

.flex {
  display: flex;
}

#flex1 {
  margin: 10px 10% 40px 10%;
}

#home2 { /*second home image completey removed for a better overall website structure, took up too much space and hid the buttons beneath it otherwise*/
  width: 0px;
}

.homebtn > h1 {
  display: block;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 20pt;
}

.homebtn > h3 {
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 15pt;
}

#donatebutton { /*donate button moved and resized, along with more info button, to work better on the mobile screen*/
  width: 50%;
  height: 100px;
  border-radius: 10%;
  background: rgb(247, 233, 219);
  border: 10px solid rgb(245, 130, 55);
  color: rgb(245, 130, 55);
  transition: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#donatebutton:hover {
  background-color: rgb(245, 130, 55);
  color: white;
  cursor: pointer;
}

#morebutton {
  width: 30%;
  height: 75px;
  border-radius: 10%;
  margin: auto 10% auto 10%;
  background: rgb(247, 233, 219);
  border: 5px solid rgb(206, 171, 137);
  color: rgb(206, 171, 137);
  transition: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#morebutton:hover {
  background-color: rgb(206, 171, 137);
  color: white;
  cursor: pointer;
}

.donateform { /*flex now block instead of display to fit image and text in a more mobile-friendly manner*/
  width: 80%;
  display: block;
  margin: 60px auto 40px auto;
  background: rgb(227, 195, 164);
}

#donatetext {
  display: block;
  width: 100%;
  background: white;
  padding: 2% 2%;
}

.donatelabel { /*width and line height of labels decreased to accommodate changed font size and screen width*/
  margin-right: 3%;
  line-height: 190%;
  width: 110px;
}

#inputfields {
  width: 100%;
}

.shortinput {
  width: 44.5%;
  height: 25px;
}

.longinput {
  width: 94%;
  height: 25px;
}

#d1 { /*width changed to take up the full width as it is no longer beside the donate form*/
  width: 100%;
  display: block;
}

#d2 {
  width: 100%;
  display: block;
  margin: auto;
}

.smallbutton {
  width: 80px;
  height: 40px;
  background: rgb(247, 233, 219);
  display: block;
  border-radius: 10%;
  border: 5px solid rgb(245, 130, 55);
  color: rgb(245, 130, 55);
  transition: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;  
}

.smallbutton:hover {
  background-color: rgb(245, 130, 55);
  color: white;
  cursor: pointer;
}

.smallbutton > h3 {
  display: block;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

#next {
  margin-left: auto;
}

#prev {
  margin-right: auto;
}

#homebutton {
  margin-right: auto;
  margin-left: auto;
}

#thankimg { /*image and box resized and placed for the mobile format*/
  display: block;
  margin: 100px auto 40px auto;
  height: 500px;
  width: 90%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

#thankbox {
  width: 80%;
  height: 450px;
  background-color: rgb(227, 195, 164);
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding-top: auto;
  padding-bottom: auto;
}

#thankbox > h2 {
  text-align: center;
  margin-top: 120px;
  font-size: 30pt;
}

#thankbox > p {
  margin: 20px auto 20px auto;
  width: 70%;
  text-align: justify;
  font-size: 10pt;
}